@model WCPLWebClasses.SpecialEvent

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    div#eventDiv {
        padding: 10px;
    }

    div#datesBlock {
        /*height: 80px;*/
        border: solid 1px black;
        /*float: left;
        display: inline-block;*/
        text-align: center;
        padding-bottom: 15px;
    }

        span#month {
            text-transform: uppercase;
        }

        span#days {
            font-size: 1.25em;
        }

    div#eventInfo {
        text-align: left;
    }

        div#eventInfo span#eventName {
            font-weight: bold;
            font-size: 1.75em;
            font-variant: small-caps;
        }

    div#eventDesc {
        font-size: 0.85em;
    }

    div#eventDates .panel-heading {
        padding: 0;
    }
    div#eventDates .panel-body {
        padding: 10px 0;
    }
</style>
<script type="text/javascript">

    function getEvents(clbk) {
        $.getJSON("/api/events")
            .done(function (data) {
                clbk(data);
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                showErrorMessage("getEvents", "ERROR", 'Status: ' + textStatus + ', Error: ' + errorThrown);
            });
    }

    function clbk_getEvents(data) {
        var hrefeventList = $(eventList);
        hrefeventList.empty();

        $.each(data, function (key, item) {
            var eventDiv = $('#eventDiv').clone().show();
            var li = $("<li class='list-group-item' />");
            //var aBtn = $('<a href="#" target="_self" class="btn btn-lg btn-default" />');
            //aBtn.append()
            //li.append($('<a href="#" target="_self" class="btn btn-lg btn-default" />').text(item.eventName));
            eventDiv.find('#month').text(item.monthYear);
            eventDiv.find('#days').text(item.days);
            eventDiv.find('#eventName').text(item.eventName);
            //eventDiv.find('#eventSubTitle').text(item.eventSubTitle);
            eventDiv.find('#eventDesc').text(item.eventDesc);
            li.append(eventDiv);
            hrefeventList.append(li);
        });
    }

    //This will run when the web page has completly loaded
    $(document).ready(function () {
        getEvents(clbk_getEvents);
    });
</script>
<div class="panel panel-primary">
    <div class="panel-heading">Upcoming Events</div>
    <div class="panel-body">
        <br />
        <ul id="eventList" class="list-group"></ul>
    </div>
</div>
<a id="btnEvent" style="display: none;" href="#" target="_self" class="btn btn-lg btn-block btn-default"></a>
<div id="eventDiv" class="row" style="display: none;">
    <div id="eventDates" class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <span id="month"></span>
            </div>
            <div class="panel-body text-center">
                <span id="days"></span>
            </div>
        </div>
        
    </div>
    <div id="eventInfo" class="col-lg-3 col-md-4 col-sm-4 col-xs-8">
        <span id="eventName"></span><br />
        @*<span class="hidden-lg visible-md"><span id="eventSubTitle"></span><br /></span>*@

        <div class="btn-group-sm">
            <a href="#" class="btn btn-info">Details</a>
            <a href="#" class="btn btn-success">Register Now</a>
        </div>
    </div>
    <div id="eventDesc" class="col-lg-8 col-md-8 col-sm-5 hidden-xs text-muted">
    </div>
</div>