@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    The West Coast Poker League is the largest bar poker league in California.  Come play a game at any of our bars in California and you will find all levels of players.  We have players who are just learning the sport, to competitive players who play in larger tournaments such as the WSOP, and in card rooms all over the US.
</p><p>
    The games are always free and in the state of California we are not permitted to give prizes for winning.  So why play?  If you are trying to make it to that next level and are serious about becoming a name in poker then table time is invaluable.  There is no where else in California where you can get all of the practice and learn from mistakes at the table without losing a ton of money.  There is no charge to the player to sit at our tables.  When is the last time you went to the batting cages to practice your swing and they said it was free?  We are the batting cages of poker.  What are you waiting for?  Ask any player in the league about the unexpected friendships made at these tables.  The WCPL is a family and values respect.  If you can't be kind and respectful to other players in this league then, you don't belong.
</p><p>
    Players have came and developed friendships, relationships, and some of those relationships have developed into marriages.  Children are born and this all begins when you sit down and play a fun exciting social game called Texas Holdem.
</p><p>
    Don't get me wrong.  This league is extremely competitive.  We are developing skills that can make money in the real world.  Winning in this league is tracked on our leader board.  A season is 3 months long.  All stats are recorded and you can see your improvement on a regular basis.  You also can become a Red Felt by winning 3 times in a season.  There are several other achievements in this league.  Come out to any of our tournaments and join our family of poker players
</p>
