@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <a href="https://www.facebook.com/groups/westcoastpokerleague" target="_blank" class="btn btn-lg btn-default"><img src="~/Content/images/FB-FindUsonFacebook-online-512.png" /></a>
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>