@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="center-block">
    <address>
        <strong>West Coast Poker League</strong><br>
        <i class="fa fa-phone"></i> <a href="tel:+12098588219">(209) 858-8219</a>
        <br />
        <i class="fa fa-envelope"></i> <a href="mailto:#">wcplnorcal@gmail.com</a>
        <br />
    </address>
    <a href="https://www.facebook.com/groups/westcoastpokerleague" target="_blank" class="btn btn-lg btn-default"><img src="~/Content/images/FB-FindUsonFacebook-online-144.png" /></a>
</div>